@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
}


.language-change {
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 0;
    width: 65px;
    height: 28px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.switch {
    display: block;
    background: #4EAAE0;
    border-radius: 14px;
    width: 35px;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
}

.language-ru,
.language-eng {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}

.language-ru,
.language-change.en .language-eng {
    color: #FFFFFF;
}

.language-eng,
.language-change.en .language-ru {
    color: #919191;
}

.language-change.en .switch {
    right: 0;
    left: unset;
}

/* MAIN */
/*  Sectionfirst */

/*  Sectionfirst */

.section-first {
    font-family: 'Gilroy';
    position: relative;
    text-align: center;
    letter-spacing: 0em;

}

.up_bg {
    width: 100%;
}

.h-container {
    /*position: relative;
    /*display: block;*/
    /*height: 750px;
    width: 1920px;*/
    position: absolute;
    top: 22%;
    left: 50%;
    /*height: 750px;
     width: 900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
}

.h1 {
    /*grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;*/
    font-size: 60px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0em;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    
}

.h3 {
    /*grid-column: 1/2;
    grid-row: 2/3;
    margin: auto;*/
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
   
}

.exp-container {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 276px);
    grid-template-rows: 1fr 1fr;
    justify-self: stretch;
    grid-template-areas:
        "exp11 exp12 exp13 exp14"
        "exp21 exp22 exp23 exp24";
    column-gap: 2px rgba(255, 255, 255, 0.25);
    padding: 10px;
}

.exp11,
.exp12,
.exp13,
.exp14 {
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    letter-spacing: 0em;
    color: white;
    
}

.exp21,
.exp22,
.exp23,
.exp24 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: white;
    
}

.main-choice {
    /*height: 300px;
    width: 1110px;*/
    position: absolute;
    left: 10%;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr;
    grid-template-areas: "wc-text mc-text"
        "web-button mc-button";
    align-items: center;
    padding: 40px;


}

.wc-text,
.mc-text {

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 30px;
    /*color: #000000;*/

}

.choice-button {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
width: 354px;
height: 80px;
border-radius: 40px;

}






@media screen and (min-width:1024px) {

    /* HEADER */
    .header-container {
        display: grid;
        grid-template-columns: 110px 1fr 238px 50px;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 0 100px;
        gap: 30px;
    }

    .header-logo {
        padding: 15px;
    }

    .choice {
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
        text-transform: uppercase;
        color: #565656;
        gap: 50px;
    }

    .header-text {
        font-size: 13px;
        line-height: 16px;
    }

    .sign-register {
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: #55B570;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #F4F4F4;
        border-top: none;
        border-bottom: none;
    }

    .sign-up {
        border-right: 3px solid #55B570;
        padding-right: 10px;
    }

    .register {
        padding-left: 5px
    }

    /* 3 часть */

    .section-third {
        position: relative;
        height: 523px;
        margin-bottom: 189px;
    }

    .third-background {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .third-background-mob {
        display: none;
    }

    .third-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 105px;
        margin-bottom: 80px;
    }

    .third-title {
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .sections-titles {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
    }

    .marketing {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .third-columns {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: 1fr;
        justify-content: space-evenly;
    }

    .top {
        grid-column: 1/2;
        text-align: center;
    }

    .columns-tittle {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 79px;
        line-height: 19px;
        color: #FFFFFF;
        padding-bottom: 30px;
    }

    .columns-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .offers {
        grid-column: 2/3;
        text-align: center;
    }


    .payment {
        grid-column: 3/4;
        text-align: center;
    }

    /* 4 часть */

    .first-part {
        margin-bottom: 71px;
    }

    .first-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .first-tittle {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        padding-bottom: 0;
    }

    .highlight {
        color: #2E9ADB;
    }

    .first-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #939393;
    }

    .first-payment {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .second-tittle {
        text-align: center;
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 80px 205px;
        gap: 30px;
    }


    .section-pic {
        margin: 40px 0 0 40px;
    }

    .box-container {
        margin: 87px 40px 40px 40px;
    }

    .subtittle {
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        margin-top: 47px;
    }

    .second-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }


    .verticals {
        background-image: url(../images/fourth-section/second-part/background.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 260px;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
    }


    /* FOOTER */
    .footer-cotainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 60px);
        margin: 0 0 52px 100px;
    }

    .footer-logo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 30px;
    }

    .rights {
        grid-column: 1/2;
        grid-row: 2/3;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #7E7E7E;
    }

    .all-rights {
        margin: 0;
    }

    .copy {
        margin: 0;
    }

    .terms {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .terms,
    .privacy {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #2E9ADB;

    }

    .privacy {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .choice-web {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .choice-mark {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .choice-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1C1C1C;
        display: flex;
        align-items: center;
    }

    .footer-text {
        font-family: 'Gilroy';
        font-style: normal;
    }

    .footer-contacts {
        grid-column: 3/4;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .contact {
        display: flex;
        gap: 5px;
        color: #000000;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    /* HEADER */

    .header-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        margin: 15px;
        gap: 30px;
    }

    .header-logo {
        grid-column: 1/2;
    }

    .choice {
        grid-column: 2/3;
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
        text-transform: uppercase;
        color: #565656;
        gap: 50px;
    }

    .header-text {
        font-size: 13px;
        line-height: 16px;
    }

    .sign-register {
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: #55B570;
        height: 100%;
        border: 1px solid #F4F4F4;
        border-top: none;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sign-up {
        border-right: 3px solid #55B570;
        padding: 0 10px;
    }

    .register {
        padding: 0 10px
    }

    .change-lang-button {
        padding-left: 16px;
    }


    /* 3 часть */

    .section-third {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 92px;
    }

    .third-background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .third-background-mob {
        display: none;
    }

    .third-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 16px 0 16px;
        margin-bottom: 20px;
    }

    .third-title {
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .sections-titles {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
    }

    .marketing {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .third-columns {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
    }

    .top {
        text-align: center;
    }

    .columns-tittle {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        color: #FFFFFF;
    }

    .columns-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 0 10px;
    }

    .offers {
        text-align: center;
    }


    .payment {
        text-align: center;
    }

    /* 4 часть */

    .section-fourth {
        margin: 16px;
    }

    .first-part {
        margin-bottom: 32px;
    }

    .first-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 32px;
    }

    .first-tittle {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        padding-bottom: 0;
    }

    .highlight {
        color: #2E9ADB;
    }

    .first-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #939393;

    }

    .first-payment {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;

    }

    .wire {
        width: 109px;
        height: 39px;
    }

    .cap {
        width: 109px;
        height: 35px;
    }

    .web {
        width: 109px;
        height: 28px;
    }

    .pay {
        width: 109px;
        height: 37px;
    }

    .bit {
        width: 39px;
        height: 39px;
    }

    .tet {
        width: 39px;
        height: 39px;
    }

    .second-tittle {
        text-align: center;
        margin-bottom: 32px;
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .section-pic {
        margin-top: 42px;
    }

    .box-container {
        margin: 0 40px;
    }

    .subtittle {
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        margin-top: 75px;
    }

    .second-text {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }


    .verticals {
        background-image: url(../images/fourth-section/second-part/background.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 260px;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* FOOTER */
    .footer-cotainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 60px);
        margin-left: 20px;
    }

    .footer-logo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 30px;
    }

    .rights {
        grid-column: 1/2;
        grid-row: 2/3;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #7E7E7E;
    }

    .all-rights {
        margin: 0;
    }

    .copy {
        margin: 0;
    }

    .terms {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .terms,
    .privacy {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #2E9ADB;

    }

    .privacy {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .choice-web {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .choice-mark {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .choice-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1C1C1C;
        display: flex;
        align-items: center;
    }

    .footer-text {
        font-family: 'Gilroy';
        font-style: normal;
    }

    .footer-contacts {
        grid-column: 3/4;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .contact {
        display: flex;
        gap: 5px;
        color: #000000;
    }
}

@media screen and (max-width:767px) {

    /* HEADER */
    .header-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin: 15px;
    }

    .header-logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .choice {
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
        text-transform: uppercase;
        color: #565656;
        gap: 50px;
    }

    .header-text {
        font-size: 13px;
        line-height: 16px;
    }

    .sign-register {
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        color: #55B570;
        height: 100%;
        border-right: 1px solid #F4F4F4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sign-up {}

    .register {
        display: none;
    }

    .change-lang-button {
        padding-left: 16px;
    }


    /* 3 часть */

    .section-third {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 92px;
    }

    .third-background {
        display: none;
    }

    .third-background-mob {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .third-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 92px 16px 0 16px;
        margin-bottom: 20px;
    }

    .third-title {
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .sections-titles {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
    }

    .marketing {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .third-columns {
        display: flex;
        flex-direction: column;
    }

    .top {
        /* grid-column: 1/2; */
        text-align: center;
    }

    .columns-tittle {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 69px;
        line-height: 60px;
        color: #FFFFFF;
    }

    .columns-text {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        padding: 0 16px;
    }

    .offers {
        /* grid-column: 2/3; */
        text-align: center;
    }


    .payment {
        /* grid-column: 3/4; */
        text-align: center;
    }

    /* 4 часть */

    .section-fourth {
        margin: 16px;
    }

    .first-part {
        margin-bottom: 32px;
    }

    .first-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 32px;
    }

    .first-tittle {
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        padding-bottom: 0;
    }

    .highlight {
        color: #2E9ADB;
    }

    .first-text {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: #939393;

    }

    .first-payment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;

    }

    .wire {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 109px;
        height: 39px;
    }

    .cap {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 109px;
        height: 35px;
    }

    .web {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 109px;
        height: 28px;
    }

    .pay {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 109px;
        height: 37px;
    }

    .bit {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 39px;
        height: 39px;
    }

    .tet {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 39px;
        height: 39px;
    }

    .second-tittle {
        text-align: center;
        margin-bottom: 32px;
    }

    .boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .section-pic {
        margin-top: 42px;
    }

    .box-container {
        margin: 0 40px;
    }

    .subtittle {
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        margin-top: 75px;
    }

    .second-text {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }


    .verticals {
        background-image: url(../images/fourth-section/second-part/background.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 260px;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* FOOTER */
    .footer-cotainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        margin: 0 16px 20px 16px;
        gap: 20px;
    }

    .footer-logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .rights {
        grid-column: 1/2;
        grid-row: 3/5;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #7E7E7E;
    }

    .all-rights {
        margin: 0;
    }

    .copy {
        margin: 0;
    }

    .terms {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .terms,
    .privacy {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #2E9ADB;
    }

    .privacy {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .choice-web {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .choice-mark {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .choice-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1C1C1C;
        display: flex;
        align-items: center;
    }

    .footer-text {
        font-family: 'Gilroy';
        font-style: normal;
    }

    .footer-contacts {
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .contact {
        display: flex;
        gap: 5px;
        color: #000000;
    }
}