@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
}


/* HEADER */
.header-container {
    display: grid;
    grid-template-columns: 110px repeat(2, 1fr) 50px;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 15px 100px;
}

.header-logo {}


.choice {
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
    color: #565656;
    gap: 50px;
}

.header-text {
    font-size: 13px;
    line-height: 16px;
}

.sign-register {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #55B570;
}

.sign-up {
    border-right: 3px solid #55B570;
    padding-right: 10px;
}

.register {
    padding-left: 5px
}

/* MAIN */
/*  Sectionfirst */
.sectionfirst {
    font-family: "Gilroy";
    position: relative;
    text-align: center;
    letter-spacing: 0em;
    color: white;
}

.up_bg {
    width: 100%;
}

.h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 75px;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 3 часть */

.section-third {
    /* background: url(../images/third-section/top-background.png);
    background-size: cover;
    min-height: 100px; */
    position: relative;
    height: 523px;
    margin-bottom: 189px;
}

.third-background {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.third-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 40px;
}

.third-title {
    color: #FFFFFF;
    margin-bottom: 0;
}

.sections-titles {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
}

.marketing {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.third-columns {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 1fr;
    justify-content: space-evenly;
}

.top {
    grid-column: 1/2;
    text-align: center;
}

.columns-tittle {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 79px;
    line-height: 19px;
    color: #FFFFFF;
}

.columns-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.offers {
    grid-column: 2/3;
    text-align: center;
}


.payment {
    grid-column: 3/4;
    text-align: center;
}

/* 4 часть */

.first-part {
    margin-bottom: 71px;
}

.first-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.first-tittle {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    padding-bottom: 0;
}

.highlight {
    color: #2E9ADB;
}

.first-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #939393;
}

.first-payment {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.second-tittle {
    text-align: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 80px 205px;
    gap: 30px;
}


.section-pic {
    margin: 40px 0 0 40px;
}

.box-container {
    margin: 87px 40px 40px 40px;
}

.subtittle {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    margin-top: 47px;
}

.second-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}


.verticals {
    background-image: url(../images/fourth-section/second-part/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 260px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}


/* FOOTER */
.footer-cotainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 60px);
    margin: 0 0 52px 100px;
}

.footer-logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 30px;
}

.rights {
    grid-column: 1/2;
    grid-row: 2/3;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #7E7E7E;
}

.all-rights {
    margin: 0;
}

.copy {
    margin: 0;
}

.terms {
    grid-column: 1/2;
    grid-row: 3/4;
}

.terms,
.privacy {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2E9ADB;

}

.privacy {
    grid-column: 1/2;
    grid-row: 4/5;
}

.choice-web {
    grid-column: 2/3;
    grid-row: 2/3;
}

.choice-mark {
    grid-column: 2/3;
    grid-row: 3/4;
}

.choice-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
    display: flex;
    align-items: center;
}

.footer-text {
    font-family: 'Gilroy';
    font-style: normal;
}

.footer-contacts {
    grid-column: 3/4;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.contact {
    display: flex;
    gap: 5px;
    color: #000000;
}