@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
}

/*header*/

.header-container {
    display: grid;
    align-items: stretch;
}

.choice {
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
}

.choice-link {
    position: relative;
    display: flex;
    align-items: center;
}

.choice-link.active:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2E9ADB;
    content: "";
    top: 0px;
}

.sign-register {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #55B570;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-lang-button {
    display: flex;
    align-items: center;
}


.language-change {
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 0;
    width: 65px;
    height: 28px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.switch {
    display: block;
    background: #4EAAE0;
    border-radius: 14px;
    width: 35px;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
}

.language-ru,
.language-eng {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
}

.language-ru,
.language-change.en .language-eng {
    color: #FFFFFF;
}

.language-eng,
.language-change.en .language-ru {
    color: #919191;
}

.language-change.en .switch {
    right: 0;
    left: unset;
}

/*3 часть*/

.section-third {
    position: relative;
    margin-bottom: 92px;
}

.third-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-title {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sections-titles {
    text-transform: uppercase;
    font-weight: 900;
}

.marketing {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.top {
    grid-column: 1/2;
    text-align: center;
}

.columns-tittle {
    text-transform: uppercase;
    font-weight: 900;
    color: #FFFFFF;
}

.columns-text {
    font-weight: 700;
    color: #FFFFFF;
}

.offers {
    text-align: center;
}


.payment {
    text-align: center;
}

/*4 часть*/

.first-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-tittle {
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 0;
}

.highlight {
    color: #2E9ADB;
}

.first-payment {
    display: flex;
}

.first-text {
    font-weight: 500;
    color: #939393;
}


.subtittle {
    font-weight: 900;
}

.second-text {
    font-weight: 300;
}


.verticals {
    background-image: url(../images/fourth-section/second-part/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 260px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

/*footer*/
.footer-cotainer {
    display: grid;
}

.rights {
    font-weight: 500;
    color: #7E7E7E;
}

.all-rights {
    margin: 0;
}

.copy {
    margin: 0;
}

.terms,
.privacy {
    font-weight: 700;
    text-transform: uppercase;
    color: #2E9ADB;
}

.choice-text {
    font-weight: 500;
    color: #1C1C1C;
    display: flex;
    align-items: center;
}

.footer-text {
    font-family: 'Gilroy';
    font-style: normal;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.contact {
    display: flex;
    gap: 5px;
    color: #000000;
}

@media screen and (min-width:1024px) {

    /* HEADER */
    .header-container {
        grid-template-columns: 110px 1fr 238px 50px;
        grid-template-rows: 1fr;
        margin: 0 170px 0 100px;
        gap: 30px;
    }

    .header-logo {
        padding: 15px;
    }

    .choice {
        justify-content: flex-end;
        gap: 50px;
        padding-right: 50px;
    }

    .header-text {
        font-size: 13px;
        line-height: 16px;
    }

    .sign-register {
        border: 1px solid #F4F4F4;
        border-top: none;
        border-bottom: none;
    }

    .sign-up {
        border-right: 3px solid #55B570;
        padding-right: 10px;
    }

    .register {
        padding-left: 5px
    }


    /* MAIN */

    /*  section-first */
    .section-first {
        font-family: 'Gilroy';
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 171px;
    }

    .up_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .up_bg-mob {
        display: none;
    }

    .h-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 171px;
        margin-bottom: 100px;
    }

    .h1 {
        font-size: 60px;
        font-weight: 900;
        line-height: 100%;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: white;
    }

    .exp-container {
        display: grid;
        grid-template-columns: repeat(4, 276px);
        grid-template-rows: 1fr;
        justify-content: space-evenly;
        grid-template-areas:
            "exp1 exp2 exp3 exp4";

    }

    .exp-tittle {
        font-size: 40px;
        font-weight: 800;
        line-height: 49px;
        color: white;
    }

    .exp-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: white;
        padding-bottom: 30px;
    }

    .exp1,
    .exp2,
    .exp3 {
        border-right: 2px solid rgba(255, 255, 255, 0.25);
    }

    .main-choice {
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 1fr;
        grid-template-areas: "wc-text mc-text"
            "web-button mc-button";
        align-items: center;
        padding: 40px;
    }

    .wc-text,
    .mc-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 30px;
    }

    .choice-button {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 354px;
        height: 80px;
        border-radius: 40px;
    }


    .web-choice {
        border-right: 2px solid #F3F3F3;
    }

    /* 2 часть*/

    .second__main {
        position: absolute;
    }

    .second {
        padding-top: 80px;
    }

    .second__title {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 80px;
    }

    .wrapper {
        max-width: 1110px;
        margin: 0 auto;
    }

    .benefits__wrap {
        margin: 0 auto;
    }

    .benefits__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        padding: 0 165px;
    }

    .benefits__card-pic {
        max-width: 65px;
        margin-bottom: 30px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .benefits__card-thumb {
        display: block;
    }

    .benefits__card-title {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 84px;
    }

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .button {
        display: flex;
        border-radius: 40px;
        background-color: white;
        border: 4px solid #2E9ADB;
        color: #2E9ADB;
        text-align: center;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        /* padding: 80px; */
        width: 350px;
        height: 80px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-bottom: 80px;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
    }

    .button:hover {
        background-color: #2E9ADB;
        color: white;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    /* 3 часть */

    .section-third {
        height: 523px;
        margin-bottom: 0;
    }

    .third-background {
        position: absolute;
        z-index: -1;
        width: 100%;
        max-height: 540px;
    }

    .third-background-mob {
        display: none;
    }

    .third-header {
        padding-top: 105px;
        margin-bottom: 80px;
    }

    .sections-titles {
        font-size: 30px;
        line-height: 37px;
    }

    .third-columns {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: 1fr;
        justify-content: space-evenly;
    }

    .top {
        grid-column: 1/2;
    }

    .columns-tittle {
        font-size: 79px;
        line-height: 19px;
        padding-bottom: 30px;
    }

    .columns-text {
        font-size: 16px;
        line-height: 19px;
    }

    .offers {
        grid-column: 2/3;
    }


    .payment {
        grid-column: 3/4;
    }

    /* 4 часть */

    .first-part {
        margin-bottom: 71px;
    }

    .first-header {
        margin-bottom: 80px;
        padding-top: 97px;
    }

    .first-tittle {
        font-size: 30px;
        line-height: 37px;
    }

    .first-text {
        font-size: 20px;
        line-height: 24px;
    }

    .first-payment {
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .second-tittle {
        text-align: center;
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 1fr);
        padding: 80px 0;
        gap: 30px;
        justify-content: center;
    }


    .section-pic {
        margin: 40px 0 0 40px;
    }

    .box-container {
        margin: 87px 40px 40px 40px;
    }

    .subtittle {
        font-size: 20px;
        line-height: 25px;
        margin-top: 47px;
    }

    .second-text {
        font-size: 14px;
        line-height: 16px;
    }

    /*5 часть*/

    .fifth-partners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fifth-title {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
    }

    .uppercase-title {
        text-transform: uppercase;
        color: #000000;
    }

    .fifth-pic-box {
        display: flex;
        flex-wrap: wrap;
        gap: 41px;
        padding: 51px 250px 54px 250px;
        align-items: center;
        justify-content: center;
    }

    .fifth-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #939393;
    }

    .fifth-feedback {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .fifth-title {}

    .nonecase-tittle {}

    .feedback-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 730px;
        width: 100%;
        padding: 40px 0;
    }

    .feedback-field {
        padding: 28px 0 28px 30px;
        background: #FFFFFF;
        border-radius: 40px;
    }

    .feedback-send {
        text-align: center;
    }

    .feedback-bttn {
        border: 3px solid #FFFFFF;
        background: #FFFFFF;
        border-radius: 40px;
    }

    .feedback-text {}

    /* FOOTER */
    .footer-cotainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 60px);
        margin: 0 0 52px 100px;
    }

    .footer-logo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 30px;
    }

    .rights {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 16px;
        line-height: 19px;
    }

    .terms {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .terms,
    .privacy {
        font-size: 14px;
        line-height: 17px;
    }

    .privacy {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .choice-web {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .choice-mark {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .choice-text {
        font-size: 16px;
        line-height: 19px;
    }

    .footer-contacts {
        grid-column: 3/4;
        grid-row: 2/4;
        gap: 30px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    /* HEADER */

    .header-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        margin: 15px;
        gap: 30px;
    }

    .header-logo {
        grid-column: 1/2;
    }

    .choice {
        grid-column: 2/3;
        justify-content: flex-end;
        gap: 50px;
    }

    .header-text {
        font-size: 13px;
        line-height: 16px;
    }

    .sign-register {
        border: 1px solid #F4F4F4;
        border-top: none;
        border-bottom: none;
    }

    .sign-up {
        border-right: 3px solid #55B570;
        padding: 0 10px;
    }

    .register {
        padding: 0 10px
    }

    .change-lang-button {
        padding-left: 16px;
    }

    /* 2 часть*/
    /* MAIN */

    .second__main {
        position: absolute;
    }

    .second {
        padding-top: 32px;
    }

    .second__title {
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 32px;
    }

    .wrapper {
        max-width: 1023px;
        margin: 0 auto;
    }

    .benefits__wrap {
        margin: 0 auto;
    }

    .benefits__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        padding: 0 165px;
    }

    .benefits__card-pic {
        max-width: 48px;
        margin-bottom: 20px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .benefits__card-thumb {
        display: block;
    }

    .benefits__card-title {
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 35px;
    }

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .button {
        display: flex;
        border-radius: 40px;
        background-color: white;
        border: 2px solid #2E9ADB;
        color: #2E9ADB;
        text-align: center;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        /* padding: 80px; */
        width: 288px;
        height: 60px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-bottom: 92px;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
    }

    .button:hover {
        background-color: #2E9ADB;
        color: white;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }



    /*  section-first */
    .section-first {
        font-family: 'Gilroy';
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 131px;
    }

    .up_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .up_bg-mob {
        display: none;
    }

    .h-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 115px;
        margin-bottom: 100px;
    }

    .h1 {
        font-size: 43px;
        font-weight: 900;
        line-height: 100%;
        color: white;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .h3 {
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: white;
    }

    .exp-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-content: space-evenly;
        grid-template-areas:
            "exp1 exp2 exp3 exp4";
    }

    .exp-tittle {
        font-size: 30px;
        font-weight: 800;
        line-height: 49px;
        color: white;
        margin-bottom: 0px;
    }

    .exp-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        color: white;
        padding-bottom: 30px;

        .exp1,
        .exp2,
        .exp3 {
            border-right: 2px solid rgba(255, 255, 255, 0.25);
        }

        .main-choice {
            background: #FFFFFF;
            box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            display: grid;
            grid-template-columns: 376px 376px;
            grid-template-rows: 1fr;
            grid-template-areas: "wc-text mc-text"
                "web-button mc-button";
            align-items: center;
            padding-bottom: 35px;
            margin-bottom: 10px;
        }

        .wc-text,
        .mc-text {
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            padding: 25px;
            padding-bottom: 18px;
        }

        .choice-button {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 255px;
            height: 65px;
            border-radius: 40px;
        }

        .web-choice {
            border-right: 2px solid #F3F3F3;
        }


        /* 3 часть */

        .section-third {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
        }

        .third-background {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        .third-background-mob {
            display: none;
        }

        .third-header {
            padding: 35px 16px 0 16px;
            margin-bottom: 20px;
        }

        .sections-titles {
            font-size: 30px;
            line-height: 37px;
        }

        .third-columns {
            display: flex;
            flex-direction: row;
            padding-bottom: 20px;
            padding-left: 10px;
        }

        .columns-tittle {
            font-size: 60px;
            line-height: 60px;
        }

        .columns-text {
            font-size: 16px;
            line-height: 19px;
            padding: 0 10px;
        }


        /* 4 часть */

        .section-fourth {
            margin: 16px;
        }

        .first-part {
            margin-bottom: 32px;
        }

        .first-header {
            margin-bottom: 32px;
        }

        .first-tittle {
            font-size: 30px;
            line-height: 37px;
        }

        .first-text {
            font-size: 20px;
            line-height: 24px;
        }

        .first-payment {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .wire {
            width: 109px;
            height: 39px;
        }

        .cap {
            width: 109px;
            height: 35px;
        }

        .web {
            width: 109px;
            height: 28px;
        }

        .pay {
            width: 109px;
            height: 37px;
        }

        .bit {
            width: 39px;
            height: 39px;
        }

        .tet {
            width: 39px;
            height: 39px;
        }

        .second-tittle {
            text-align: center;
            margin-bottom: 32px;
        }

        .boxes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        .section-pic {
            margin-top: 42px;
        }

        .box-container {
            margin: 0 40px;
        }

        .subtittle {
            text-align: center;
            font-size: 20px;
            line-height: 25px;
            margin-top: 75px;
        }

        .second-text {
            text-align: center;
            font-size: 14px;
            line-height: 16px;
        }


        .verticals {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* FOOTER */
        .footer-cotainer {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 60px);
            margin-left: 20px;
        }

        .footer-logo {
            grid-column: 1/2;
            grid-row: 1/2;
            margin-bottom: 30px;
        }

        .rights {
            grid-column: 1/2;
            grid-row: 2/3;
            font-size: 16px;
            line-height: 19px;
        }

        .terms {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .terms,
        .privacy {
            font-size: 14px;
            line-height: 17px;
        }

        .privacy {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .choice-web {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .choice-mark {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .choice-text {
            font-size: 16px;
            line-height: 19px;
        }

        .footer-contacts {
            grid-column: 3/4;
            grid-row: 2/4;
            gap: 30px;
            font-size: 16px;
            line-height: 19px;
        }
    }

    @media screen and (max-width:767px) {

        /* HEADER */
        .header-container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            column-gap: 15px;
        }

        .header-logo {
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 12px;
        }

        .choice {
            grid-column: 1/4;
            grid-row: 2/3;
            display: flex;
            text-align: center;
            height: 40px;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05) inset;
        }

        .choice-link {
            flex: 1;
            justify-content: center;
        }

        .choice-link.active:after {
            height: 2px;
        }

        .header-text {
            font-size: 12px;
            line-height: 15px;
        }

        .sign-register {
            border-right: 1px solid #F4F4F4;
        }

        .register {
            display: none;
        }

        /* 2 часть*/

        .second__main {
            position: absolute;
        }

        .second {
            padding-top: 32px;
        }

        .second__title {
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 32px;
        }

        .wrapper {
            max-width: 767px;
            margin: 0 auto;
        }

        .benefits__wrap {
            margin: 0 auto;
        }

        .benefits__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            padding: 0 8px;
        }

        .benefits__card-pic {
            max-width: 48px;
            margin-bottom: 20px;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .benefits__card-thumb {
            display: block;
        }

        .benefits__card-title {
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            margin-bottom: 35px;
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .button {
            display: flex;
            border-radius: 40px;
            background-color: white;
            border: 2px solid #2E9ADB;
            color: #2E9ADB;
            text-align: center;
            font-weight: 900;
            font-size: 16px;
            line-height: 24px;
            /* padding: 80px; */
            width: 288px;
            height: 60px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            margin-bottom: 92px;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
        }

        .button:hover {
            background-color: #2E9ADB;
            color: white;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }


        /* MAIN */

        /*  section-first */
        .section-first {
            font-family: 'Gilroy';
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            padding-top: 14px;
            justify-content: center;
        }

        .up_bg-mob {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .up_bg {
            display: none;
        }

        .h1 {
            font-size: 32px;
            font-weight: 900;
            line-height: 40px;
            color: white;
            text-transform: uppercase;
            padding: 0 10px;
            margin-bottom: 14px;
        }

        .h1 {
            font-size: 32px;
            font-weight: 900;
            line-height: 40px;
            color: white;
            text-transform: uppercase;
            padding-left: 70px;
            padding-right: 70px;
            margin-bottom: 14px;
        }

        .h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: white;
            padding-left: 50px;
            padding-right: 50px;
        }

        .exp-container {
            display: grid;
            grid-template-columns: repeat(2, 147px);
            grid-template-rows: 1fr 1fr;
            justify-content: space-evenly;
            grid-template-areas:
                "exp1 exp2"
                "exp3 exp4";
        }

        .exp-tittle {
            font-size: 30px;
            font-weight: 800;
            line-height: 37px;
            color: white;
            margin-bottom: 0px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .exp-text {
            font-size: 13px;
            font-weight: 500;
            line-height: 15px;
            color: white;
            padding-bottom: 5px;
        }

        .exp1,
        .exp3 {
            border-right: 2px solid rgba(255, 255, 255, 0.25);
        }

        .exp1,
        .exp2 {
            border-bottom: 2px solid rgba(255, 255, 255, 0.25);
        }

        .main-choice {
            background: #FFFFFF;
            box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            width: 328px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .wc-text,
        .mc-text {
            font-size: 13px;
            font-style: medium;
            font-weight: 500;
            line-height: 20px;
            padding: 14px;
            margin-bottom: 5px;

        }

        .mc-text {
            padding-right: 22px;
            padding-left: 22px;
        }

        .choice-button {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 256px;
            height: 60px;
            border-radius: 40px;
        }

        /* 3 часть */

        .section-third {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
        }

        .third-background {
            display: none;
        }

        .third-background-mob {
            position: absolute;
            z-index: -1;
            width: 100%;
        }

        .third-header {
            padding: 92px 16px 0 16px;
            margin-bottom: 20px;
        }

        .sections-titles {
            font-size: 20px;
            line-height: 25px;
        }

        .marketing {
            font-size: 16px;
            line-height: 19px;
        }

        .third-columns {
            display: flex;
            flex-direction: column;
        }

        .columns-tittle {
            font-size: 69px;
            line-height: 60px;
        }

        .columns-text {
            font-size: 13px;
            line-height: 16px;
            padding: 0 16px;
        }


        /* 4 часть */

        .section-fourth {
            margin: 16px;
        }

        .first-part {
            margin-bottom: 32px;
        }

        .first-header {
            margin-bottom: 32px;
        }

        .first-tittle {
            font-size: 20px;
            line-height: 25px;
        }

        .first-text {
            font-size: 13px;
            line-height: 15px;
        }

        .first-payment {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 15px;

        }

        .wire {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 109px;
            height: 39px;
        }

        .cap {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 109px;
            height: 35px;
        }

        .web {
            grid-column: 1/2;
            grid-row: 2/3;
            width: 109px;
            height: 28px;
        }

        .pay {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 109px;
            height: 37px;
        }

        .bit {
            grid-column: 3/4;
            grid-row: 2/3;
            width: 39px;
            height: 39px;
        }

        .tet {
            grid-column: 3/4;
            grid-row: 1/2;
            width: 39px;
            height: 39px;
        }

        .second-tittle {
            text-align: center;
            margin-bottom: 32px;
        }

        .boxes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
        }

        .section-pic {
            margin-top: 42px;
        }

        .box-container {
            margin: 0 40px;
        }

        .subtittle {
            text-align: center;
            font-size: 20px;
            line-height: 25px;
            margin-top: 75px;
        }

        .second-text {
            text-align: center;
            font-size: 14px;
            line-height: 16px;
        }


        .verticals {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        /* FOOTER */
        .footer-cotainer {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, auto);
            margin: 0 16px 20px 16px;
            gap: 20px;
        }

        .footer-logo {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .rights {
            grid-column: 1/2;
            grid-row: 3/5;
            font-size: 16px;
            line-height: 19px;
        }

        .terms {
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .terms,
        .privacy {
            font-size: 14px;
            line-height: 17px;
        }

        .privacy {
            grid-column: 1/2;
            grid-row: 6/7;
        }

        .choice-web {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .choice-mark {
            grid-column: 2/3;
            grid-row: 4/5;
        }

        .choice-text {
            font-size: 16px;
            line-height: 19px;
        }

        .footer-contacts {
            grid-column: 1/3;
            grid-row: 2/3;
            gap: 20px;
            font-size: 16px;
            line-height: 19px;
        }
    }

    /* 2 часть*/

    /* .second__main {
    position: absolute;
}

.second {
    padding-top: 80px;
}

.second__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 80px;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.benefits__wrap {
    margin: 0 auto;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    padding: 0 165px;
}

.benefits__card-pic {
    max-width: 65px;
    margin-bottom: 30px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.benefits__card-thumb {
    display: block;
}

.benefits__card-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 84px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.button {
    display: flex;
    border-radius: 40px;
    background-color: white;
    border: 4px solid #2E9ADB;
    color: #2E9ADB;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    /* padding: 80px; */
    /* width: 350px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 80px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #2E9ADB;
    color: white;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
} */