body {
    color: #FFFFFF;
}

.success-request {
    color: #000000;
}

.checkbox {
    border-radius: 8px;
}

@media screen and (min-width:1024px) {
    .register-container {
        position: relative;
    }

    .reg-back {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .reg-mob-back {
        display: none;
    }

    .register-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register-tittle {
        text-align: center;
    }

    .register-form {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        max-width: 730px;
        gap: 30px;
        width: 100%;
    }

    .form-text {
        grid-column: span 6;
    }

    .register-field {
        border-radius: 40px;
        padding: 28px;
    }

    .register-box {
        grid-column: span 3;
    }

    .register-work {}

    .work-tittle {
        grid-column: span 6;
        text-align: center;
    }

    .reg-check {
        grid-column: span 2;
        display: flex;
        gap: 20px;
        align-items: center
    }

    .checkbox {
        width: 32px;
        height: 32px;
    }

    .traffic-box {}

    .agree {
        grid-column: span 6;
        display: flex;
        gap: 20px;
        align-items: center
    }

    .submit-container {
        grid-column: span 6;
        display: flex;
        justify-content: center;
    }

    .reg-bttn {
        background: #2E9ADB;
        border: 3px solid #FFFFFF;
        border-radius: 40px;
        padding: 28px 60px;
    }

    .register-send {
        color: #FFFFFF;
        text-align: center;
    }

    .reg-popup {
        display: none;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: 100;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    .reg-popup.active {
        display: flex;
    }

    .reg-message {
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        font-weight: 500;
        padding: 50px 43px;
        text-align: center;
        max-width: 540px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        pointer-events: none;
    }

    .success-request {
        max-width: 420px;
        color: #000000;
        margin: 0;
    }

    .go-main {
        max-width: 354px;
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {}

@media screen and (max-width:767px) {}